{
  "icc": {{ cis_rule_2_1 }},
  "log-level": "{{ cis_rule_2_2 }}",
  "iptables": {{ cis_rule_2_3 }},
  "userns-remap": "{{ cis_rule_2_8 }}",
  "live-restore": {{ cis_rule_2_14 }},
  "userland-proxy": {{ cis_rule_2_15 }},
  "no-new-privileges": {{ cis_rule_2_18 }},
  "storage-driver": "overlay2"
}
